body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  
}
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  position: absolute;
  /* width: 100%; */
  left: 0;
  right: 0;
}

.header .container {
  padding: 0 28px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 35px;
  line-height: 1.20686;
  color: #fff;
}

.logo-part {
  color: #28a745;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation-list-item {
}
.navigation-list-link {
  padding: 20px 0;
  line-height: 1.56;
  display: block;
}

.hero {
  background-color: #4d4b4b;
  padding-top: 279px;
  padding-bottom: 282px;
  background-image: url(../img/hero-bg.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
    color: #e9e9e9;
    margin-bottom: 24px;
}
.hero-text {
  font-weight: 400;
    font-size: 22px;
    line-height: 1.67;
    text-align: center;
    color: #e9e9e9;
    margin-bottom: 32px;
}
.hero-btn {
  border-radius: 5px;
    min-width: 165px;
    min-height: 48px;
    background: #28a745;
    display: block;
    margin: 0 auto;
    border: none;
      line-height: 1.56;
      text-align: center;
      color: #fff;
}
